body {
    margin: 0 auto;
    padding: 0;
    font-family: 'Cormorant Garamond', serif;
    font-size: 0.2em;
    line-height: 1.5;
    max-width: 1024px;
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.wrapper {
    width: 100%;
    margin: 0 auto;
}


/* HEADER */

.header {
    display: block;
    margin: 0 auto;
    position: absolute;
    background-color: rgba(225, 191, 179, 0.8);
    top: 0;
    left: 0;
    width: 100%;
    /* height: 10%; */
    box-sizing: content-box;
    z-index: 10000;
}

.header__content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: auto;
    padding: 1%;
    margin: 0 auto;
}


.logo__container,
.title__container,
.nav__container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1%;
    color: white;
}


/* LOGO */

.logo__container {
    flex: 10%;
}

.logo img {
    width: 60px;
    height: 60px;
}



/* TITLE */

.title__container {
    flex-direction: column;
    text-align: center;
    flex: 70%;
}

.title {
    text-decoration: none;
    font-size: 1.4em;
    padding: 0;
    margin: 0;
}

.sub__title {
    font-family: 'Comfortaa', cursive;
    font-size: 0.7em;
    letter-spacing: 2px;
    margin: 0;

}

/*NAV*/
.nav__container {
    flex: 10%;
}

.burger {
    display: flex;
    width: 60px;
    height: 60px;
}

.menu {
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 3%;
    background-color: rgba(231, 161, 125, 0.8);
    transition-duration: .25s;
}

.menu__item {
    flex: 100%;
    padding: 1vh;
    color: white;
    transition: all 0.5s;
}

.menu__item:hover {
    font-size: 120%;
}

.active {
    color: rgba(231, 161, 125, 1);
    font-weight: 600;
}

.nav-btn {
    position: relative;
    width: 60px;
    height: 60px;
    cursor: pointer;
    z-index: 1;
}

.nav-btn>span,
.nav-btn>span::before,
.nav-btn>span::after {
    display: block;
    position: absolute;
    top: 25px;
    width: 50px;
    height: 8px;
    border-radius: 15px/15px;
    background-color: white;
    transition-duration: .3s;
}

.nav-btn>span::before {
    content: '';
    top: -20px;
    background-color: white;
}

.nav-btn>span::after {
    content: '';
    top: 20px;
    background-color: white;
}

.nav-btn:hover>span::before,
.nav-btn:hover>span::after {
    background-color: white;
}

.nav-btn:hover>span {
    background-color: white;
}

#nav-toggle {
    position: absolute;
    padding: 0;
    margin: 0;
    opacity: 0;
}

#nav-toggle:checked~.nav-btn>span {
    transform: rotate(45deg);

}

#nav-toggle:checked~.nav-btn>span::before {
    top: 0;
    transform: rotate(0);
}

#nav-toggle:checked~.nav-btn>span::after {
    top: 0;
    transform: rotate(90deg);
}

#nav-toggle:checked~.menu {
    visibility: visible;
    left: 0;
}



/* MAIN */

.main {
    width: 100vw;
    padding-top: 11vh;
    margin: 0 auto;
    align-items: center;
}

.section {
    padding: 1%;
    border: 1px solid rgba(231, 161, 125, 1);
}

.section__name {
    color: rgba(0, 0, 0, .3);
    text-align: center;
    text-transform: uppercase;
    margin: 1%;
    padding: 2%;
    font-size: 0.5em;
}

.descr__card {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    flex-wrap: wrap;
    padding: 2%;
    width: 100%;
}

.content__picture {
    text-align: center;
    max-width: 75%;
    height: auto;
    margin: 5%;
    padding: 2%;
    border-radius: 15px/15px;
}

.section__title {
    color: white;
    padding: 2%;
    text-align: center;
    font-size: 1.3em;
    background-color: rgba(225, 191, 179, 1);
    margin: 0;
}

.text__block {
    display: inline-block;
    word-wrap: break-word;
    padding: 2%;
    margin: 5%;
    max-width: 90%;
    font-size: 1em;
    text-align: center;
    font-family: 'Comfortaa', cursive;
    color: rgba(170, 115, 84, 1);
    background-color: rgba(225, 191, 179, 0.5);
}

.client__need {
    display: inline-block;
    word-wrap: break-word;
    padding: 2%;
    margin: 5%;
    max-width: 90%;
    font-size: 1em;
    text-align: center;
    color: rgba(225, 191, 179, 1);
}




/* SERVICES */



.services__list {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
    transition-duration: .25s;
}

.service__item {
    width: 30%;
    display: inline-block;
    font-family: 'Bebas Neue';
    font-size: 0.7em;
    margin: 1vh auto;
    font-weight: 700;
    padding: 0.5vh;
    border: 1px solid rgba(231, 161, 125, 1);
    text-align: center;
    border-radius: 15px/15px;
    transition: all 0.3s
}


.service__item:hover {
    transform: scale(1.1);
    background-color: rgba(225, 191, 179, 0.5);
    box-shadow: 0 0 1vh 0 rgba(0, 0, 0, 0.5);
}

.service__item a:hover {
    color: rgba(255, 255, 255, 1);
}

.service__button {
    color: rgba(231, 161, 125, 1);
    letter-spacing: 0.1vh;
    text-decoration: none;
}

.service__button span {
    color: rgba(0, 0, 0, 0.5);
    font-family: 'Comfortaa', cursive;
}

.service__button {
    color: rgba(231, 161, 125, 1);
    letter-spacing: 0.1vh;
    text-decoration: none;
}

.service__button span {
    color: rgba(0, 0, 0, 0.5);
    font-family: 'Comfortaa', cursive;
}




/* BUYER */

.service__components__list,
.section__descr {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 1% auto;
    width: auto;
}

.section__descr__item,
.service__component {
    display: block;
    margin: 0 auto;
    /*   border:1px solid black; */
    padding: 1vh;
}

.service__component .question,
.section__descr__item .question {
    display: inline-block;
    word-wrap: break-word;
    letter-spacing: 0.1vh;
    padding: 1%;
    margin: 5% auto;
    /*  max-width: 90%; */
    text-transform: uppercase;
    font-size: 1em;
    text-align: center;
    font-family: 'Bebas Neue';
    color: white;
    background-color: rgba(225, 191, 179, 1);
}

.service__component .answer,
.section__descr__item .answer {
    display: inline-block;
    letter-spacing: 0.1vh;
    font-family: 'Comfortaa', cursive;
    font-size: 0.9em;
    margin: 1vh auto;
    padding-left: 1%;
    font-weight: 700;
    color: rgba(170, 115, 84, 1);
}


/* SHOPPING-TOURS */

.shopping__tours__list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 1% auto;
    width: auto;
}

.shopping__tour__item {
    display: block;
    margin: 0 auto;
    border: 1px solid black;
    padding: 1vh
}

.shopping__tour__name {
    color: white;
    padding: 2%;
    text-align: center;
    font-size: 1.3em;
    background-color: rgba(225, 191, 179, 1);
    margin: 0;
}

.shopping__tour__item .text__block {
    background-color: rgba(255, 255, 255, 1);
    text-align: start;
}

.day__descr__item {
    display: block;
    margin: 2% auto;
    color: rgba(255, 255, 255, 1);
    padding: 2%;
    background-color: rgba(225, 191, 179, 1);
}

.shopping__tour__program {
    padding: 0;
}

.tour__price,
.price {
    align-self: center;
    color: rgba(0, 0, 0, .3);
    text-transform: uppercase;
    font-weight: bold;
    margin: 30px auto;
    padding: 30px;
    float: right;
}


.day__descr {
    padding: 2%;
}







/* ADVANTAGES */


.advantages__list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
}

.advantages__item {
    display: block;
    margin: 1%;
    border: 1px solid rgba(231, 161, 125, 1);
    border-radius: 15px/15px;
}




/* REVIEWS */

.reviews__list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
}

.review__item {
    margin: 1%;
    border: 1px solid rgba(231, 161, 125, 1);
    border-radius: 15px/15px;
    padding: 0;
}

.client__review__info {
    width: 90%;
    margin: 0 auto;
    font-size: 1vh;
}

.client__review__info td,
.client__review__info th {
    border: 1px solid rgba(231, 161, 125, 1);
    padding: 1%;
}

.review__item .text__block {
    text-align: start;
}




/*FOOTER*/


.contacts {
    display: block;
    margin: 0 auto;
    text-align: center;
    align-items: center;
    background-color: rgba(0, 0, 0, .2);
    color: rgba(170, 115, 84, 1);
}

.contacts a {
    color: rgba(255, 249, 239, 1);
    text-decoration: none;
}

.contacts a:hover {
    color: rgba(255, 249, 239, 1);
    text-decoration: underline;
}

.socials {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 5% auto;
}

.socials__item {
    padding: 0;
    margin: 1%;
}

a.social__link {
    display: block;
    margin: 0 auto;
    transform: scale(2);
    color: rgba(255, 151, 82, 1);
    transition: 0.5s;
}

.social__link svg {
    border: 1px solid rgba(255, 249, 239, 1);
    background-color: rgba(255, 249, 239, 1);
    border-radius: 50%;
    padding: 1%;
}

a.social__link:hover {
    transform: scale(2) rotate(360deg);
}

.contacts__center {
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    border-left: 1px solid rgba(225, 191, 179, 1);
    border-right: 1px solid rgba(225, 191, 179, 1);
    margin: 2% auto;
    flex-wrap: wrap;
    padding: 2%;
}

.contacts__block {
    text-align: start;
    margin: 1%;
}


.contacts__logo {
    display: block;
    margin: 1%;
    text-align: center;
    align-content: center;
    transition: all 0.5s;
}

.contacts__logo__container img {
    border-radius: 50%;
}

.contacts__services__list {
    display: flex;
    flex-direction: column;
    margin: 1% auto;
    list-style: circle;
    padding: 2%;
}

.contacts__service__item {
    text-align: start;
    padding: 1%;
    margin: 1%;
}

.contacts__service__link:hover {
    transform: scale(1.2) translateX(5%);
    color: rgba(225, 191, 179, 1);
}

.contacts__bottom {
    flex: 100%;
    margin: 0 auto;
    padding: 5%;
    text-align: center;
}




/* MODAL */

.modal__container {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    width: 100vw;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, .5);
}

.modal__dialog {
    width: 90%;
    height: 35vh;
    margin: 25vh auto 35vh auto;
    border-radius: 15px/15px;
}

.modal__content {
    position: relative;
    width: 100%;
    padding: 5%;
    background-color: rgba(0, 0, 0, .7);
    border-radius: 15px/15px;
    box-shadow: 0 0 10px rgba(255, 255, 255, .8);
    height: auto;
    overflow-y: auto
}

.modal__close {
    position: absolute;
    top:0;
    right: 1vh;
    font-size: 2em;
    color: rgba(255, 255, 255, .7);
    opacity: .7;
    border: none;
    background-color: transparent;
    cursor: pointer
}
/*
  rgba(255, 249, 239, 1)
rgba(252, 230, 209, 1)    
rgba(225, 191, 179, 1)
 rgba(231, 161, 125, 1)
 rgba(170, 115, 84, 1) 
*/

.modal__title {
    padding: 3%;
    text-align: center;
    color: rgba(255, 255, 255, 0.9);
    font-family: 'Comfortaa', cursive;
    font-size: 1em;
    text-shadow: 0 0 1vh rgba(255, 255, 255, 0.9);
}

.modal__input {
    display: block;
    margin: 2vh auto 2vh auto;
    width: 50%;
    height:5vh;
/*     background-color: rgba(231, 161, 125, 1);
 *//*     box-shadow: inset 0 0 1vh rgba(0, 0, 0, .7);
 */    border: none;
    border-radius: 10px/10px;
    font-size: 0.8em;
    text-align: center;
    padding:1%;
    outline: 0
}


.modal__input__container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.modal__input__container span {
    margin: 0 2vh;
    color: #fff9ef;
}

.modal__btn {
    display: block;
    width: 80%;
    border-radius: 15px/15px;
    text-align: center;
    color: rgba(0, 0, 0, .9);
    font-family: 'Comfortaa', cursive;
    font-size: 1em;
    text-shadow: 0 0 1vh rgba(255, 255, 255, 0.7);
    box-shadow: inset 0 0 1vh rgba(0, 0, 0, .7);
    background-color: rgba(225, 191, 179, 1);
    padding: 1%;
    margin: 2% auto;
    transition: all 0.5s;
}

.modal__btn:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(255, 255, 255, .4);
}






.column {
    column-width: 300px;
    column-count: 2;
    column-gap: 30px;

}

.divider {
    display: block;
    width: 50%;
    background-color: rgba(0, 0, 0, .3);
    height: 1px;
    margin: 5% auto;
}

.up__button img {
    box-shadow: 0 0 10px rgba(0, 0, 0, .25);
    background-color: rgba(0, 0, 0, 1);
    position: fixed;
    transform: scale(1.2);
    bottom: 10vh;
    right: 3vh;
    opacity: 0.5;
    border-radius: 50%;
    transition: all 1s;
    overflow: hidden;
}



.hide {
    display: none;
}

.show {
    display: block;
}

.fade {
    animation-name: fade;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-fill-mode: both;
}

@keyframes fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.plane {
    animation-name: plane;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.travel {
    position: relative;
    width: 150px;
    height: 50px;
    border-radius: 5%;
}


.image-container {
    position: absolute;
}

@keyframes plane {
    0% {
        transform: translate(-700px, 50px) scale(0.01);
    }

    5% {
        transform: translate(-660px, 45px) scale(0.015);
    }

    10% {
        transform: translate(-620px, 40px) scale(0.02);
    }

    15% {
        transform: translate(-580px, 35px) scale(0.025);
    }

    20% {
        transform: translate(-540px, 30px) scale(0.03);
    }

    25% {
        transform: translate(-500px, 25px) scale(0.035);
    }

    30% {
        transform: translate(-460px, 20px) scale(0.04);
    }

    35% {
        transform: translate(-420px, 15px) scale(0.045);
    }

    40% {
        transform: translate(-380px, 10px) scale(0.05);
    }

    45% {
        transform: translate(-340px, 5px) scale(0.055);
    }

    50% {
        transform: translate(-300px, 0) scale(0.06);
    }

    55% {
        transform: translate(-260px, -5px) scale(0.065);
    }

    60% {
        transform: translate(-220px, -10px) scale(0.07);
    }

    65% {
        transform: translate(-180px, -15px) scale(0.075);
    }

    70% {
        transform: translate(-140px, -20px) scale(0.08);
    }

    75% {
        transform: translate(-100px, -25px) scale(0.085);
    }

    80% {
        transform: translate(-60px, -30px) scale(0.09);
    }

    85% {
        transform: translate(-20px, -35px) scale(0.095);
    }

    90% {
        transform: translate(20px, -40px) scale(0.1);
    }

    95% {
        transform: translate(60px, -45px) scale(0.105);
    }

    100% {
        transform: translate(100px, -50px) scale(0.11);
    }
}